@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?dzmuq9');
  src:  url('fonts/icomoon.eot?dzmuq9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?dzmuq9') format('truetype'),
    url('fonts/icomoon.woff?dzmuq9') format('woff'),
    url('fonts/icomoon.svg?dzmuq9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e901";
}
.icon-lianxiren:before {
  content: "\e900";
  color: #d4b458;
}
.icon-close:before {
  content: "\e902";
}
.icon-code:before {
  content: "\e903";
  color: #8a8a8a;
}
.icon-eye:before {
  content: "\e904";
  color: #b5b5b5;
}
.icon-eyeopen:before {
  content: "\e905";
  color: #1296db;
}
.icon-face:before {
  content: "\e906";
  color: #c7af5d;
}
.icon-getMore:before {
  content: "\e907";
  color: #bdbdbd;
}
.icon-phone:before {
  content: "\e908";
  color: #ffda44;
}
.icon-pwd:before {
  content: "\e909";
  color: #ffda44;
}
.icon-renzheng:before {
  content: "\e90a";
  color: #dbbc69;
}
.icon-yidong:before {
  content: "\e90b";
  color: #0085d0;
}
