#userlogin{font-size: 18px;color: #000;text-align: center;}
.content-wrapper .icon-phone:before{color:#FFDA44}
#logo{margin-top:80px;text-align: center;}
#logo img{width:25%;height:25%;  }
.content-wrapper{margin:34px 10% 0;}
#forget{text-align: right;margin: 0 13%;}
#forget span{font-size: 12px;color:#ff8351;}
#uselogin{width:70%;height:40px;line-height: 40px;background-color:#ffda44;margin: 60px auto 0 auto;border:1px solid #ffda44;border-radius: 20px;text-align: center;}
.userregister p{margin-top: 26px;padding-left: 35%;font-size: 12px;}
.userregister p>span{text-decoration: none;color:#ff8351;}
.inputContainer .icon-eyeopen{right: 13px;top: 6px;}
.inputContainer .icon-eyeopen:before{color:#8A8A8A}
#loginContainer .weui-cells{font-size: 14px;margin: 30px auto;}
#loginContainer .weui-cells:before{border-top:none}
#loginContainer .weui-cell{padding:0;}
#loginContainer .icon-phone{font-size: 26px;  padding-right: 4px;  }
#loginContainer .icon-pwd{font-size: 20px;  padding-right: 4px;  }
#loginContainer .icon-pwd:before{  color:#FFD845  }


